<footer class="bg-dark text-center text-white">
  <section class="mb-4">
    <p class="text-white">This is just a sample application. Some things work, some don't :)</p>
  </section>
  <section>
    <div class="row">
      <div class="col-lg 3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-4">
          <li>
            <a href="#!" class="text-white"> SomeLink 0</a>
          </li>
          <li>
            <a href="#!" class="text-white"> SomeLink 1 </a>
          </li>
          <li>
            <a href="#!" class="text-white"> SomeLink 2 </a>
          </li>
          <li>
            <a href="#!" class="text-white"> SomeLink 3 </a>
          </li>
        </ul>
        </div>
        <div class="col-lg 3">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-4">
            <li>
              <a href="#!" class="text-white"> SomeLink 0</a>
            </li>
            <li>
              <a href="#!" class="text-white"> SomeLink 1 </a>
            </li>
            <li>
              <a href="#!" class="text-white"> SomeLink 2 </a>
            </li>
            <li>
              <a href="#!" class="text-white"> SomeLink 3 </a>
            </li>
          </ul>
          </div>
          <div class="col-lg 3">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled mb-4">
              <li>
                <a href="#!" class="text-white"> SomeLink 0 </a>
              </li>
              <li>
                <a href="#!" class="text-white"> SomeLink 1 </a>
              </li>
              <li>
                <a href="#!" class="text-white"> SomeLink 2 </a>
              </li>
              <li>
                <a href="#!" class="text-white"> SomeLink 3 </a>
              </li>
            </ul>
            </div>
            <div class="col-lg 3">
              <h5 class="text-uppercase">Links</h5>
              <ul class="list-unstyled mb-4">
                <li>
                  <a href="#!" class="text-white"> SomeLink 0</a>
                </li>
                <li>
                  <a href="#!" class="text-white"> SomeLink 1 </a>
                </li>
                <li>
                  <a href="#!" class="text-white"> SomeLink 2 </a>
                </li>
                <li>
                  <a href="#!" class="text-white"> SomeLink 3 </a>
                </li>
              </ul>
            </div>
      </div>
  </section>
</footer>
