<div class="d-flex justify-content-center align-items-center containter">
  <form class="form-group">
    <div class="form-group">
      <div class="mb-3 row">
        <label for="inputFirstName" class="col-sm-6 col-form-label">First Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="First name" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputLastName" class="col-sm-6 col-form-label">Last Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="lastNameInput" placeholder="Last name" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputEmail" class="col-sm-6 col-form-label">Email address:</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="emailRegisterInput" placeholder="name@example.com" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-6 col-form-label">Password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="passwordRegisterInput" placeholder="Enter password" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputConfirmPassword" class="col-sm-6 col-form-label">Confirm password:</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="confirmPasswordRegisterInput" placeholder="Confirm password" />
        </div>
      </div>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" id="acceptTerms" class="form-check-input" />
      <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
    </div>
    <div class="text-center">
      <button type="submit" class="col-3 btn btn-primary mr-4">Submit</button>
      <button type="reset" class=" col-3 btn btn-secondary">Cancel</button>
    </div>
  </form>
</div>
